In [1]:
import pandas as pd

In [2]:
'l1 l2 l3 l4'.split() #digita a string e o method split transforma em lista

['l1', 'l2', 'l3', 'l4']

In [8]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (9, 10, 11, 12),
        (13, 14, 15, 16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())

In [9]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [10]:
df['c1']

l1     1
l2     5
l3     9
l4    13
Name: c1, dtype: int64

In [11]:
type(df['c1'])

pandas.core.series.Series

In [13]:
df[['c3','c1']]

    c3  c1
l1   3   1
l2   7   5
l3  11   9
l4  15  13

In [14]:
type(df[['c3','c1']])

pandas.core.frame.DataFrame

In [20]:
df[1:3]

    c1  c2  c3  c4
l2   5   6   7   8
l3   9  10  11  12

In [23]:
df[1:][['c3','c1']]

    c3  c1
l2   7   5
l3  11   9
l4  15  13

In [24]:
df.loc['l3']

c1     9
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [25]:
df.loc[['l3', 'l2']]

    c1  c2  c3  c4
l3   9  10  11  12
l2   5   6   7   8

In [27]:
df.loc['l2', 'c3']

7

In [28]:
df.iloc[1, 2]

7

In [29]:
df.loc[['l3', 'l1'], ['c4, 'c1']]

SyntaxError: invalid syntax (<ipython-input-29-1e4e0aab75be>, line 1)

In [30]:
df.loc[['l3', 'l1'], ['c4, 'c1']]

SyntaxError: invalid syntax (<ipython-input-30-1e4e0aab75be>, line 1)

In [31]:
df.loc[['l3', 'l1'], ['c4', 'c1']]

    c4  c1
l3  12   9
l1   4   1

In [32]:
df.iloc[[2, 0], [3, 0]]

    c4  c1
l3  12   9
l1   4   1